.container {
    margin: 40px auto;
}

canvas {
    border: 1px solid gray;
    display: block;
    margin: 0 auto;
}


/* SketchPad */
#sketchpad {
    padding: 0 0 0 180px;
    overflow: hidden;

    position: relative;
}

#sketchpad .canvas {
    width: 100%;
    height: 430px;
    margin: 0;
    float: none;
    overflow: hidden;
    border: 1px #e2e2e2 solid;
    background: #fff;
}

#sketchPad .canvas canvas {
    position: relative;
}

#sketchpad .sidebar {
    width: 180px;
    height: 100%;
    padding: 10px;
    background-color: #e7e7e7;

    position: absolute;
    top: 0;
    left: 0;
}

#sketchpad .colors {
    width: 34px;
    margin: 0 0 30px 0;
    overflow: hidden;
}

#sketchpad .colors div {
    width: 15px;
    height: 15px;
    margin: 1px;
    float: left;
    border: 1px transparent solid;
    box-shadow: inset 1px 1px 0 #000;
    background-color: #000;

    cursor: pointer;
}

#sketchpad .colors div.current {
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, .8);
}

#sketchpad input[type='range'] {
    max-width: 95%;

    cursor: pointer;
}

#sketchpad output {
    font-size: 12px;
}

#sketchpad #clear, #sketchpad #save {
    margin-top: 30px;
}